################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/social_network_system_design/FileContentIndex/de1c9dad-1b48-47eb-8efc-1dd34a1d72bc.vsidx
/.vs/social_network_system_design/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/social_network_system_design/v17/DocumentLayout.json
/.vs/social_network_system_design/FileContentIndex/298dc209-c713-4165-bfcf-188a978456e4.vsidx
/.vs/social_network_system_design/FileContentIndex/6a767e48-350e-4134-ba1a-a6f67cc24fb7.vsidx
